/* ----------Common Styles---------- */

*,
*::before,
*::after { box-sizing: border-box; }

html { font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(top rgb(0, 183, 255), bottom rgb(255, 255, 255));
  background-size: cover;
}

h1,
p {
  margin: 0;
  padding: 0;
  /* color: #fff; */
}

/* ----------Main Page Layout---------- */

.grid {
  display: grid;
  grid-template-columns: repeat(1, fr);
  grid-template-areas: "box-1"
                      "box-2"
                      "box-3"
                      "box-4"
                      "box-5";
  gap: 2rem;
  margin: 2em;
}
.box {
  border-radius: 1em;
  padding: 3em;
}
.heading {
  display: flex;
  gap: 1em;
}
.heading img {
  border-radius: 50%;
}
/* .heading-title {
  -
} */

.box-1 {
  background-color: hsl(263, 55%, 52%);
  grid-area: box-1;
}
.box-2 {
  background-color: hsl(217, 19%, 35%);
  grid-area: box-2;
}
.box-3 {
  background-color: hsl(0, 0%, 100%);
  grid-area: box-3;
}
.box-4 {
  background-color: hsl(219, 29%, 14%);
  grid-area: box-4;
}
.box-5 {
  background-color: hsl(0, 0%, 100%);
  grid-area: box-5;
}


/* ----------Footer---------- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* ----------Media Queries---------- */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, fr);
    grid-template-areas: "box-1 box-1"
                        "box-2 box-5"
                        "box-3 box-5"
                        "box-4 box-4";
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, fr);
    grid-template-areas: "box-1 box-1 box-2 box-5"
                        "box-3 box-4 box-4 box-5";
  }
}